// index header
.masthead {
    position: relative;
    width: 100%;
    //ori dd height: auto;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(../images/bg-masthead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
// index about
.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}


// resume 標頭資訊 小於768置中
@media (max-width: 768px) {
.centerInfo
{
  width: 300px;
  margin: 0 auto;
}
}
//projects
.projects-section {
    padding: 10rem 0;
  }
  .projects-section .featured-text {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid $secondary;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: $secondary;
      border-width: 0.25rem;
      width: 30%;
    }
  }

  // work間距
  .ulspace li{
margin-bottom: 1rem;
  }
