//website setting

body {
    font-family: "Nunito", "Roboto", "Noto Sans TC", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}