//site setting 全站設定
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;700&display=swap');
body {
    font-family: "Nunito", "Roboto", "Noto Sans TC", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}