// index text color
.colorful {
    font-weight: bold;
    line-height: 1.3;
    color: rgba(0,0,0,0);    
    background: linear-gradient(85deg, 
      rgba(242, 90, 176,1) 0%, 
      rgba(91,190,248,1) 50%, 
      rgba(139, 40, 255,1) 100%);
      
    background-size: 200% 100%;
    -webkit-background-clip: text;
    animation: colorChange  6s;
    animation-iteration-count: infinite;
  }
  
  @keyframes colorChange {
    from {
          background-position: 0% 0%;
      }
      50% {
          background-position: 100% 100%;
      }
      to {
          background-position: 0% 0%;
      }
  }
// bg color
.bg-black{
    background: #000;
}
//fz
.font-sm{
    font-size: 20px;
}
.font-md{
    font-size: 30px;
}
.font-lg{
    font-size: 48px;
}
.font-xsm{
font-size: 12px;
}
//btn style
.border-radius-half {
    border-radius: 5rem;
}
.border-width-md {
    border-width: 2px;
}
//resume icon間距
.fab{
    margin-right: 1rem;
}