// custom
//color
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;

$primary: #65A09D;   // #005E7F; //#ac8a46;//$blue !default;
$secondary:#64a19d;//#197491; //#916019;
$third:#61B6CD; //#916000;

// Typography
$font-family-sans-serif:      "SF Pro Text",PingFang,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
// stylelint-enable value-keyword-case
// $font-family-base:            var(--#{$variable-prefix}font-sans-serif) !default;
// $font-family-code:            var(--#{$variable-prefix}font-monospace) !default;

// $font-size-root effects the value of `rem`, which is used for as well font sizes, paddings and margins
// $font-size-base effects the font size of the body text
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default; //14
$font-size-lg:                $font-size-base * 1.25 !default; //20

$font-weight-lighter:         lighter !default;
$font-weight-light:           200 !default;
$font-weight-normal:          300 !default;
$font-weight-medium:          400 !default;//add
$font-weight-semibold:        500 !default;//add
$font-weight-bold:            600 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;

$h1-font-size:                $font-size-base * 2.5 !default; //40
$h2-font-size:                $font-size-base * 2 !default; //32
$h3-font-size:                $font-size-base * 1.75 !default;//28
$h4-font-size:                $font-size-base * 1.5 !default;//24
$h5-font-size:                $font-size-base * 1.25 !default;//20
$h6-font-size:                $font-size-base !default;//16