// 


.gallery-title
{
    font-size: 36px;
    color: $primary;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid $primary;
    border-radius: 5px;
    text-align: center;
    color: $primary;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid $primary;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color:$primary;

}
.btn-default:active .filter-button:active
{
    background-color: $primary;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


// old
// body {
//     font-family: "Nunito","Roboto", "Noto Sans TC", sans-serif;
// }

// *,
// *:before,
// *:after {
//     box-sizing: border-box;
// }

// .banner {
//     min-height: 960px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// .bannerInner {
//     color: #FFF;
//     font-weight: bold;
// }

// .banner h1 {
//     font-size: 80px;
//     line-height: 94px;
// }

.about h1,
.brand h1,
.portfolio h1 {
    font-size: 64px;
    line-height: 75px;
    padding-top: 64px;
}

.banner h3,
.brand h3,
.about ul,
.portfolio ul {
    font-size: 24px;
    line-height: 42px;
}

// .banner p,
// footer ul,
// .info li:nth-child(3) {
//     font-size: 24px;
//     line-height: 36px;
// }

.portfolio h5 {
    font-size: 20px;
    line-height: 42px;
}

// .banner ul {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 48px;
// }

.about,
.portfolio {
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// .about img {
//     padding: 40px 0 24px 0;
// }

// hr {
//     width: 384px;
//     border: 1px solid #000;
// }

// .info {
//     padding-bottom: 24px;
// }

.wportfolio li span {
    text-align: center;
    padding-left: 38px;
    position: relative;
}

.portfolioExp {
    padding: 32px 0 56px 0;
}

.portfolioExp span::before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 999em;
    background: #891818;
    top: 6px;
    left: 0;
    position: absolute;
}

// .brand,
// footer {
//     color: #fff;
//     background-color: #000;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

// }

.brand p,
.portfolio p {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

// .brand h3 {
//     padding: 16px 0 32px 0;
// }

// .brandPic {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap-reverse;
//     align-items: flex-end;
//     padding-top: 68px;
// }
// .brandPic img:nth-child(odd) {
//     order: 2;
//     align-self: flex-start;
//     justify-self: center;
//     padding-bottom: 40px;
// }

// .brandPic img:nth-child(even) {
//     padding-left: 24px;
// }

.portfolio p {
    padding-top: 24px;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 160px;
}

.portfolio ul li {
    padding-top: 56px;
}

// footer {
//     padding-bottom: 80px;
// }

// footer ul li {
//     padding-top: 16px;
// }

// footer a {
//     text-decoration: none;
//     color: #fff;
// }

// footer a:hover {
//     color: #ccc;
// }